<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Quantity:</strong>
    <%= order_detail.quantity %>
  </p>

  <p>
    <strong>Price at order:</strong>
    <%= order_detail.price_at_order %>
  </p>

  <p>
    <strong>Watch:</strong>
    <%= order_detail.watch_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

</div>
