<%= link_to "Back to Shopping Cart", shopping_cart_index_path, class: "button is-link" %>

<h2 class="title is-4">Invoice</h2>
<% @cart_watches.each do |watch_id, quantity| %>
  <% Watch.where(id: watch_id).each do |watch| %>
    <p><%= watch.model.name %> (Quantity: <%= quantity %>): <%= number_to_currency(watch.current_price * quantity) %></p>
  <% end %>
<% end %>
<p>Total: <%= number_to_currency(@total_price) %></p>


<%= form_with model: @customer, url: orders_path do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province, class: "input" %>
  </div>

  <div class="field">
    <%= form.submit "Place Order", class: "button is-primary" %>
  </div>
<% end %>