<%= form_with model: @customer, url: create_order_path do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :address %>
  <%= form.text_field :address %>

  <%= form.label :province %>
  <%= form.text_field :province %>

  <%= form.submit "Place Order" %>
<% end %>

<h2>Invoice</h2>
<% @cart_products.each do |product_id| %>
  <% product = Product.find(product_id) %>
  <p><%= product.name %>: <%= number_to_currency(product.price) %></p>
<% end %>
<p>Total: <%= number_to_currency(@total_price) %></p>