<p style="color: green"><%= notice %></p>

<h2>Order Details for Order ID: <%= @order.id %></h2>

<ul>
  <% @order.order_details.each do |detail| %>
    <li>
      <strong>Watch ID:</strong> <%= detail.watch_id %><br>
      <strong>Quantity:</strong> <%= detail.quantity %><br>
      <strong>Price at Order:</strong> <%= detail.price_at_order %><br>
    </li>
  <% end %>
</ul>

