<div class="content">
  <h2 class="subtitle is-3">Watch ID - <%= watch.id %></h2>

  <div class="columns">

    <div class="column is-one-third">
      <p class="title is-4">Model:</p>
      <p class="subtitle is-5">
        <% if @watch.model %>
          <%= link_to @watch.model.name, model_path(@watch.model) %>
        <% else %>
          N/A
        <% end %>
      </p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Brand:</p>
      <p class="subtitle is-5">
        <% if @watch.brand %>
          <%= link_to @watch.brand.name, brand_path(@watch.brand) %>
        <% else %>
          N/A
        <% end %>
      </p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Case Material:</p>
      <p class="subtitle is-5"><%= watch.case_material.material %></p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <p class="title is-4">Strap Material:</p>
      <p class="subtitle is-5"><%= watch.strap_material.material %></p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Crystal Material:</p>
      <p class="subtitle is-5"><%= watch.crystal_material.material %></p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Dial Color:</p>
      <p class="subtitle is-5"><%= watch.dial_color.color %></p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <p class="title is-4">Movement Type:</p>
      <p class="subtitle is-5"><%= watch.movement_type.movement %></p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Water Resistance:</p>
      <p class="subtitle is-5"><%= watch.water_resistance %> Meters</p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Case Diameter:</p>
      <p class="subtitle is-5"><%= watch.case_diameter %>mm</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <p class="title is-4">Case Thickness:</p>
      <p class="subtitle is-5"><%= watch.case_thickness %>mm</p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Band Width:</p>
      <p class="subtitle is-5"><%= watch.band_width %>mm</p>
    </div>

    <div class="column is-one-third">
      <p class="title is-4">Price:</p>
      <p class="subtitle is-5"><%= number_to_currency(watch.current_price) %> USD</p>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <% if session[:cart]&.include?(watch.id) %>
        <%= form_tag remove_watch_from_cart_path(watch), method: :delete do %>
          <%= submit_tag "Remove from Cart", class: 'button is-danger' %>
        <% end %>
      <% else %>
        <%= form_tag add_watch_to_cart_path(watch), method: :post do %>
          <%= submit_tag "Add to Cart", class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
