<div id="<%= dom_id watch %>">
  <p>
    <strong>Model:</strong>
    <%= watch.model_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= watch.brand_id %>
  </p>

  <p>
    <strong>Case material:</strong>
    <%= watch.case_material_id %>
  </p>

  <p>
    <strong>Strap material:</strong>
    <%= watch.strap_material_id %>
  </p>

  <p>
    <strong>Crystal material:</strong>
    <%= watch.crystal_material_id %>
  </p>

  <p>
    <strong>Dial color:</strong>
    <%= watch.dial_color_id %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= watch.movement_type_id %>
  </p>

  <p>
    <strong>Water resistance:</strong>
    <%= watch.water_resistance %>
  </p>

  <p>
    <strong>Case diameter:</strong>
    <%= watch.case_diameter %>
  </p>

  <p>
    <strong>Case thickness:</strong>
    <%= watch.case_thickness %>
  </p>

  <p>
    <strong>Band width:</strong>
    <%= watch.band_width %>
  </p>

  <p>
    <strong>Current price:</strong>
    <%= watch.current_price %>
  </p>

</div>
