<section class="section">
  <div class="container">
    <h1 class="title">Luxury Watches</h1>
    <%= form_tag(watches_path, method: :get, class: 'field has-addons') do %>
      <div class="control">
        <%= text_field_tag :search, params[:search], class: 'input', placeholder: 'Search...' %>
      </div>
      <div class="control">
        <%= select_tag :search_by, options_for_select(['All','Model', 'Brand'], params[:search_by]), class: 'select is-rounded' %>
      </div>
      <div class="control">
        <%= button_tag(type: 'submit', class: 'button is-primary') do %>
          Search
        <% end %>
      </div>
    <% end %>
    <% if @watches.any? %>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <%= paginate @watches,window:2 %>
    </nav>
    <div class="columns is-multiline">
      <% @watches.each do |watch| %>
        <div class="column is-one-third">
          <div class="box">
            <p class="title">
              <%= link_to watch.model.name, watch, class: 'has-text-info' %>
            </p>
            <p class="subtitle">Price: <%= number_to_currency(watch.current_price) %> USD</p>
            <p class="subtitle">Size: <%= watch.case_diameter %>mm</p>
            <p class="subtitle">By: <%= watch.brand.name %></p>
            <p>ID: <%= watch.id %></p>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <p>No results found.</p>
    <% end %>
  </div>
</section>