<h1 class="title">Your Shopping Cart</h1>
<ul class="box">
  <% @cart_items.each do |watch_id, quantity| %>
    <% watch = Watch.find(watch_id) %>
    <li>
      <div class="columns is-vcentered">
        <div class="column">
          <p><strong><%= watch.model.name %></strong> (ID: <%= watch.id %>)</p>
          <p>Quantity: <%= quantity.to_i %></p>
        </div>
        <div class="column is-one-third">
          <!-- Quantity input field -->
          <%= form_tag update_cart_path(watch_id.to_s), method: :patch, class: "field has-addons" do %>
            <%= hidden_field_tag :id, watch_id %>
            <%= number_field_tag "quantity", quantity, min: 1, step: 1, value: quantity, class: "input" %>
            <div class="control">
              <%= submit_tag "Update", class: "button is-primary" %>
            </div>
          <% end %>
        </div>
        <div class="column">
          <!-- Remove button -->
          <%= button_to "Remove", remove_watch_from_cart_path(watch_id), method: :delete, class: "button is-danger" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>