<%= link_to "Back to Brands", brands_path%>

<h2 class="title is-2">Watches in <%= @brand.name %></h2>


 <div class="columns is-multiline">
      <% @brand.watches.each do |watch| %>
        <div class="column is-one-third">
          <div class="box">
            <p class="title">
              <%= link_to watch.model.name, watch, class: 'has-text-info' %>
            </p>
            <p class="subtitle">Price: <%= number_to_currency(watch.current_price) %> USD</p>
            <p class="subtitle">Size: <%= watch.case_diameter %>mm</p>
            <p class="subtitle">By: <%= watch.brand.name %></p>
            <p class="subtitle">ID: <%= watch.id %></p>
            <% if session[:cart]&.include?(watch.id) %>
              <%= form_tag remove_watch_from_cart_path(watch), method: :delete do %>
                <%= submit_tag "Remove from Cart", class: 'is-danger' %>
              <% end %>
            <% else %>
              <%= form_tag add_watch_to_cart_path(watch), method: :post do %>
                <%= submit_tag "Add to Cart" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
