
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      Home
    <% end %>
    <%= link_to models_path, class: 'navbar-item' do %>
      Models
    <% end %>
    <%= link_to brands_path, class: 'navbar-item' do %>
      Brands
    <% end %>
    <%= link_to shopping_cart_index_path, class: 'navbar-item' do %>
      🛒
    <% end %>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <% if customer_signed_in? %>
        <p class="navbar-item">Logged in as <%= current_customer.name %></p>
        <%= button_to "Sign out", destroy_customer_session_path, method: :delete, class: "button is-primary" %>
      <% else %>
        <%= link_to "Register", new_customer_registration_path, class: "button is-primary" %>
        <%= link_to "Sign in", new_customer_session_path, class: "button is-primary" %>
      <% end %>
    </div>
  </div>
</nav>