<!DOCTYPE html>
<html>
  <head>
    <title>WatchesEcommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
      .flash-notice-container {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000; /* Ensure flash notice appears on top of other content */
        width: 50%;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <%= render 'nav/navbar' %>
    <div class="flash-notice-container">
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </body>
</html>
